.settings-layout {
  .sidemenu-desktop {
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 58px;
      height: 0.5px;
      background-color: #444d56;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      top: auto;
      bottom: 0;
    }
  }
  .sidemenu-container {
    justify-content: flex-start !important;
  }
  @media (max-width: 768px) {
    .toggle-icon {
      display: block;
    }
  }
}
